body{
  background-image: url("../img/login_landscape.jpg");
  background-attachment: fixed;
}

.success_main{
  height: 377px;
  width: 258px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
